.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  height:100vh;

  &__tree {
    width: 400px;
    min-width: 400px;
    background-color: #383838;
  }

  &__content {
    width: 100%;
    padding: 30px;
  }

}
