.content {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-content: stretch;
        height: 100%;
  }

  &__text {
     height: 100%;
     display: flex;
     align-items: stretch;
     >textarea{
       width: 100%;
       border: none;
       &:focus {
         outline: none;
       }
     }
  }
}
.content_header {
  height: 100px;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  &__file_name {
    >input{
      font-size: 34px;
      border: none;
      &:focus {
        outline: none;
      }
    }
  }

  &__operations {
    width: 200px;
  }
}

.button {
  background-image: url('/static/icons.png');
  border: none;
  background-color: white;
  margin-left: 20px;
  &__save {
    width: 27px;
    height: 27px;
    background-position: 0px -150px;

    &--active {
      background-position: -27px -150px;
    }
  }
  &__delete {
    width: 22px;
    height: 27px;
    background-position: 0 -178px;
    &--active {
      background-position: -22px -178px;
    }
  }
  &__add_folder {
    background-position: 0 0px;
    width: 35px;
    height: 27px;
    background-size: 71px;
    &--active {
      background-position: -35.4px 0px;
    }
  }
  &__add_file {
    width: 20px;
    height: 27px;
    background-size: 67px;
    background-position: 0 -116px;
    &--active {
      background-position: -21.2px -116px;
    }
  }
  &__container {
    display: flex;
    justify-content: flex-end;
  }

}
