.node-image {
  &__container {
    width: 30px;
    display: inline-block;
  }
  &__folder {
    background-image: url('/static/icons.png');
    height: 19px;
    width: 27px;
    background-repeat: no-repeat;
    overflow: hidden;
    &--open {
      background-position: 0 -225px;
    }

    &--close {
      background-position: 0 -206px;
      width: 24px;
    }
  }

  &__file {
    background-image: url('/static/icons.png');
    height: 19px;
    width: 15px;
    background-repeat: no-repeat;
    overflow: hidden;
    background-position: 0 -243px;
  }
}

.root_tree {
  padding-left: 30px;
}

.node {
  color: #6A6A6A;
  width: 370px;
  cursor: pointer;
  list-style: none;
  &__label {
    line-height: 13px;
  }
  &__content {
    &:hover {
      color: white;
      .node-image__folder {
        &--open {
          background-position: -26px -225px;
        }

        &--close {
          background-position: -23px -206px;
          width: 24px;
        }
      }
      .node-image__file {
        background-image: url('/static/icons.png');
        height: 19px;
        width: 15px;
        background-repeat: no-repeat;
        overflow: hidden;
        background-position: -14px -243px;
      }
    }
  }
 

  &__container {
    position: relative;
    min-height: 30px;
    display: flex;
      flex-direction: column;
      align-items: stretch;
  }

  &__childs {
      position: relative;
  }

  &--active {
    color: white;
      .node-image__folder {
        &--open {
          background-position: -26px -225px;
        }

        &--close {
          background-position: -23px -206px;
          width: 24px;
        }
      }
  }

}
